* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    color: white;
	font-family: "Montserrat", sans-serif !important;
    font-style: italic;
    font-weight: 300;
}

body {
    background: url('/images/background.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}